/* general container */
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 280px) and (max-width:767px) {
    .icon-slider {
        display: block;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-slider span {
        height: 12px;
        width: 12px;
        border-radius: 50px;
        border: 2px solid var(--Base-Border);
        margin: 15px 5px;
        background-color: var(--Base-Border);
    }
}

@media (max-width: 1550px) {

    .fa-chevron-left,
    .fa-chevron-right {
        display: none;
        visibility: hidden;
    }
}

/* /* general container */



/* satrt header ============================= */
@media (max-width: 1200px) {

    header .logo-serach-user .shoping {
        grid-column: 7 / 13;
    }

    header .container-btn-menu-tablet {
        display: block;
        visibility: visible;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    header .container-btn-menu-tablet .container-search-tablet-screen {
        grid-column: 3 / 13;
    }

    header .container-btn-menu-tablet .container-search-tablet-screen form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .container-btn-menu-tablet .btn-menu {
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    header .logo-serach-user .container-search {
        display: none;
        visibility: hidden;
    }

    header .nav-bar {
        position: fixed;
        height: 100vh;
        background: #ffffff;
        left: -300px;
        top: 0;
        width: 300px;
        z-index: 2;
        overflow: hidden;
        box-shadow: 1px 0px 6px #8080807d;
        opacity: 0;
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    header .nav-bar.tarnslate {
        left: 0;
        opacity: 1;
    }

    header .nav-bar .fa-xmark {
        display: block;
        visibility: visible;
        position: absolute;
        top: 8rem;
        right: 2rem;
        cursor: pointer;
        color: var(--Main-Medium);
    }

    header .nav-bar ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }

    header .nav-bar ul li {
        margin: 20px 0;

    }

    header .nav-bar ul li .active,
    header .nav-bar ul li .active::after {
        width: 0;
        color: var(--color-text-text);
    }

    header .nav-bar ul li a:hover::after {
        width: 50%;
    }

}

/* mobile screen */
@media (min-width: 280px) and (max-width:767px) {
    header .container-btn-menu-tablet .container-search-tablet-screen form {
        width: 100%;
    }

    header .logo-serach-user .shoping {
        grid-column: 11 / 13;
    }

    header .nav-bar .categories {
        display: block;
        visibility: visible;
        padding: 5px 0;
        background-color: var(--Base-Gray-Background);
        border-radius: 20px;
        color: var(--color-text-text);
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    header .nav-bar .fa-xmark {
        top: 2rem;
        right: 1rem;
    }

    header .logo-serach-user .shoping .btn,
    header .container-btn-menu-tablet .container-search-tablet-screen .categories,
    header .logo-serach-user .shoping .link-icone a {
        display: none;
        visibility: hidden;
    }
}

/* end header ============================= */

/* start-section-product==============  */
/* mobile screen */
@media (min-width: 280px) and (max-width:767px) {
    .product-sec .product-main {
        display: flex;
        flex-direction: column;
    }
}

/* end-section-product==============  */

/* start-sectipn-rectangle============= */
@media (max-width: 1200px) {
    .rectangle-sec .rectangle-main {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


@media (max-width: 991px) {
    .rectangle-sec .rectangle-main {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

/* mobile screen */
@media (min-width: 280px) and (max-width:767px) {

    .rectangle-sec .rectangle-main {
        overflow-x: auto;
        grid-template-columns: 100% 100% 100% 100%;
    }

    .rectangle-sec .rectangle-main::-webkit-scrollbar {
        width: 0%;
    }


    /* .rectangle-sec-icon-slider */
    .rectangle-sec .icon-slider span:nth-of-type(2) {
        background-color: var(--Main-Primary);
    }

    /* .rectangle-sec-icon-slider */
}

/* end-sectipn-rectangle============= */

/* start-sectipn-community============= */
@media (max-width: 1200px) {
    .community-sec .community-main .community {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .community-sec .community-main .community img {
        margin-bottom: 24px;
    }
}

/* mobile screen */
@media (min-width: 280px) and (max-width:767px) {
    .community-sec .community-main {
        text-align: center;
        overflow-x: auto;
        grid-template-columns: 70% 70% 70%;
    }

    .community-sec .community-main::-webkit-scrollbar {
        width: 0%;
    }

    /*community-sec-icon-slider */
    .community-sec .icon-slider span:nth-of-type(2) {
        background-color: var(--Main-Primary);
    }

    /*community-sec-icon-slider */
}

/* end-sectipn-community============= */
/* start-sec-heading================= */
@media (max-width: 1200px) {
    .sec-heading-2 .view {
        display: none;
        visibility: hidden;
    }
}

/* end-sec-heading================= */
/* --start-section-sellers============= */
@media (max-width: 1200px) {

    .sellers-sec .sellers-main {
        text-align: center;
        overflow-x: auto;
    }

    .sellers-sec .sellers-main::-webkit-scrollbar {
        width: 0%;
    }
}

/* mobile screen */
@media (min-width: 280px) and (max-width:767px) {
    .sellers-sec .icon-slider span:nth-of-type(2) {
        background-color: var(--Main-Primary);
    }
}

/* --end-section-sellers============= */
/* -- start-sec-item-shop============== -- */
@media (max-width: 1200px) {
    .sec-item-shop .item-shop-main {
        overflow-x: auto;
    }

    .sec-item-shop .item-shop-main::-webkit-scrollbar {
        width: 0%;
    }
}

@media (min-width: 280px) and (max-width:767px) {
    .sec-item-shop .icon-slider span:nth-of-type(2) {
        background-color: var(--Main-Primary);
    }
}

/* -- end-sec-item-shop============== -- */
/* start-advertisements-sec=========  */
@media (max-width: 1200px) {
    .sec-advertisements .advertisements-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 280px) and (max-width:767px) {
    .sec-advertisements .advertisements-main .box {
        min-width: 80px;
        margin: 28px 0;
    }

    .sec-advertisements .advertisements-main .box p {
        font-size: 14px;
    }
}

/* end-advertisements-sec=========  */
/* -- start-emial-sec=====================  */
@media (max-width: 1200px) {
    .sec-email .email-main .form {
        width: 100%;
    }

    .sec-email .email-main .content {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .sec-email .email-main .form a {
        display: none;
        visibility: hidden;
    }

    .sec-email .email-main .form form:nth-of-type(1) .btn {
        display: none;
        visibility: hidden;
    }

    .sec-email .email-main .form form:nth-of-type(2) .btn-small-mobile {
        display: block;
        visibility: visible;
        padding: 10px;
    }

    .sec-email .email-main {
        padding: 25px;
    }

    .sec-email .email-main .content {
        margin-bottom: 10px;
    }

    .sec-email .email-main .content .para {
        font-size: 12px;
    }

    .sec-email .email-main .form form:nth-of-type(1) {
        margin-bottom: 0;
    }
}

/* -- end-emial-sec=====================  */
/* -- start-sec-footer============= -- */
@media (max-width: 991px) {
    .sec-footer {
        display: none;
        visibility: hidden;
    }
}

/* -- end-sec-footer============= -- */
/* start-sec-footer-small-mobile */
@media (max-width: 991px) {
    .sec-footer-small-mobile {
        display: block;
        visibility: visible;
    }
}

/* end-sec-footer-small-mobile */