* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-max {
    height: 100%;
    width: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--Base-Soft-Background);
    height: 2000px;
}

.icon-slider {
    display: none;
    visibility: hidden;
}

.icon-vector {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 32px;
    width: 32px;
    background-color: var(--Main-White);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-chevron-left,
.fa-chevron-right {
    position: absolute;
    z-index: 5;
    transform: all 0.3s;
}

.fa-chevron-left:hover::before,
.fa-chevron-right:hover::before {
    color: var(--Main-Third);
}

.fa-chevron-left::before,
.fa-chevron-right::before {
    font-size: 20px;
    color: var(--Main-Medium);
    cursor: pointer;
}

.fa-chevron-left {
    left: 6rem;
    top: 50%;
}

.fa-chevron-right {
    right: 6rem;
    top: 50%;
}
.social {
    display: flex;
}

.social .facebook,
.social .twitter,
.social .linkin,
.social .dribble {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

 .social .facebook {
    background-color: #1877F2;
}

.social .twitter {
    background-color: #1DA1F2;
}

.social .linkin {
    background-color: #2867B2;
}

.social .dribble {
    background-color: #EA4C89;
}


:root {
    /* Main */
    --Main-Primary: #EB6D20;
    --Main-Third: #EB8426;
    --Main-White: #ffffff;
    --Main-Thick-Black: #040404;
    --Main-Middle-Black: #0B0B0B;
    --Main-Soft-Black: #1B1B1B;
    --Main-Light: #D6D6D6;
    --Main-Medium: #5F5F5F;
    --Main-Regular: #303030;
    --Main-None: #121212;
    /* teaxt */
    --color-text-text: #3E3E3E;
    --color-text-subtext: #9A9A9A;
    --color-text-paragraph: #292929;
    /* system */
    --system-url: #177DDC;
    --system-warning: #D89614;
    --system-succes: #6DB95A;
    --system-error: #DD5E5E;
    /* base */
    --Base-Border: #E9E9E9;
    --Base-Disabled: #5F5F5F;
    --Base-Background: #FDFDFD;
    --Base-Soft-Background: #FFF9F3;
    --Base-Gray-Background: #F5F6F8;
}

/* start header ========================= */
header {
    padding: 25px 0;
}

header a {
    color: var(--color-text-text);
}

header .logo-serach-user {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: stretch;
    margin-bottom: 26px;
}

header .logo-serach-user .logo {
    grid-column: 1 / 3;
}

/*  */
header .logo-serach-user .container-search,
header .container-btn-menu-tablet .container-search-tablet-screen {
    grid-column: 3 / 9;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 8px 5px 8px 10px;
    background-color: var(--Main-White);
    margin: 0 10px;
}

header .logo-serach-user .container-search form,
header .container-btn-menu-tablet .container-search-tablet-screen form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

header .logo-serach-user .container-search form button .fa-magnifying-glass,
header .container-btn-menu-tablet .container-search-tablet-screen form button .fa-magnifying-glass {
    color: var(--Main-Medium);
}

header .logo-serach-user .container-search form input[type=text],
header .container-btn-menu-tablet .container-search-tablet-screen form input[type=text] {
    border: none;
    outline: none;
    background-color: var(--Main-White);
    width: 90%;
    padding: 5px 20px;
}

header .logo-serach-user .container-search form input[type=text]::placeholder,
header .container-btn-menu-tablet .container-search-tablet-screen form input[type=text]::placeholder {
    color: var(--color-text-subtext);
}

header .logo-serach-user .container-search form button[type=submit],
header .container-btn-menu-tablet .container-search-tablet-screen form button[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100px;
    width: 10%;
    border: none;
    background: none;
}

header .logo-serach-user .container-search .categories,
header .container-btn-menu-tablet .container-search-tablet-screen .categories {
    padding: 5px 0;
    background-color: var(--Base-Gray-Background);
    border-radius: 20px;
    color: var(--color-text-text);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .container-btn-menu-tablet {
    display: none;
    visibility: hidden;
}

/*  */
header .logo-serach-user .shoping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 9 / 13;
}

header .logo-serach-user .shoping .btn {
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background-color: var(--Main-Primary);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

header .logo-serach-user .shoping .btn:hover {
    background-color: var(--Main-Third);
}

header .logo-serach-user .shoping .link-icone {
    display: flex;
}

header .logo-serach-user .shoping .shop {
    position: relative;
}

header .logo-serach-user .shoping .shop::after {
    content: "16";
    position: absolute;
    top: -14px;
    left: 15%;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: var(--Main-Primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Main-White);
    font-size: 12px;

}

header .logo-serach-user .shoping .link-icone svg {
    margin-right: 3px;
}

/* start nav-bar */
header .nav-bar i{
    display: none;
    visibility: hidden;
}
header .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-bar ul li {
    position: relative;

}

header .nav-bar ul li a {
    transition: 0.3s;
}

header .nav-bar ul li a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--Main-Third);
    border-radius: 100px;
    transition: 0.3s;
}

header .nav-bar ul li .active,
header .nav-bar ul li .active::after {
    width: 20%;
    color: var(--Main-Third);
}

header .nav-bar ul li a:hover {
    color: var(--Main-Third);
}

header .nav-bar ul li a:hover::after {
    width: 20%;
}

/* end header ========================= */
/* start-section-product==============  */
.product-sec {
    margin: 24px 0;
}

.product-sec .product-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 24px;
}

.product-sec .product-main .product {
    height: 180px;
    position: relative;
    border: none;
}

.product-sec .product-main .product p {
    position: absolute;
    bottom: 13px;
    left: 13px;
    color: var(--Main-White);
    font-weight: 400;
    font-size: 16px;
}

/* end-section-product==============  */
/* start-sectipn-rectangle============= */
.rectangle-sec {
    margin: 24px 0;
}

.rectangle-sec .rectangle-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px 24px;
}

.rectangle-sec .rectangle-main .rectangle {
    position: relative;
    padding: 25px 20px 40px;
    border-radius: 5px;
    
}
.rectangle-sec .rectangle-main .green-shoes {
    padding: 0;
    max-height: 367px;
}
.rectangle-sec .rectangle-main .rectangle .color {
    color: var(--color-text-text);
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 12px;
}

.rectangle-sec .rectangle-main .rectangle p {
    color: var(--color-text-paragraph);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.rectangle-sec .rectangle-main .rectangle .price {
    position: absolute;
    bottom: 7px;
    left: 19px;
    font-weight: 500;
    color: var(--color-text-text);
    line-height: 24px;
}

.rectangle-sec .rectangle-main .rectangle .image {
    margin: auto;
    height: 200px;
    width: 200px;
}

.rectangle-sec .rectangle-main .vanna {
    background-color: #D3FBD9;
}

.rectangle-sec .rectangle-main span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    margin-right: 5px;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(1),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(1) {
    background-color: #7CB93E;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(2),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(2) {
    background-color: #33ABC6;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(3),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(3) {
    background-color: #1CCD8D;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(4),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(4) {
    background-color: #3F65EA;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(5),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(5) {
    background-color: #F64A69;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(6),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(6) {
    background-color: #A635EC;
}

.rectangle-sec .rectangle-main .vanna span:nth-of-type(7),
.rectangle-sec .rectangle-main .rovina span:nth-of-type(7) {
    background-color: #F9A85D;
}

/*  */
.rectangle-sec .rectangle-main .wood {
    background-color: #FFE4BD;
}

.rectangle-sec .rectangle-main .wood span:nth-of-type(1),
.rectangle-sec .rectangle-main .iphone span:nth-of-type(1) {
    background-color: #7CB93E;
}

.rectangle-sec .rectangle-main .wood span:nth-of-type(2),
.rectangle-sec .rectangle-main .iphone span:nth-of-type(2) {
    background-color: #3F65EA;
}

.rectangle-sec .rectangle-main .wood span:nth-of-type(3),
.rectangle-sec .rectangle-main .iphone span:nth-of-type(3) {
    background-color: #F64A69;
}

.rectangle-sec .rectangle-main .wood span:nth-of-type(4),
.rectangle-sec .rectangle-main .iphone span:nth-of-type(4) {
    background-color: #A635EC;
}

.rectangle-sec .rectangle-main .wood span:nth-of-type(5),
.rectangle-sec .rectangle-main .iphone span:nth-of-type(5) {
    background-color: #F9A85D;
}

/*  */
.rectangle-sec .rectangle-main .seatsafa {
    background-color: #D9ABFD;
}

.rectangle-sec .rectangle-main .seatsafa span:nth-of-type(1),
.rectangle-sec .rectangle-main .rovina-2 span:nth-of-type(1) {
    background-color: #3F65EA;
}

.rectangle-sec .rectangle-main .seatsafa span:nth-of-type(2),
.rectangle-sec .rectangle-main .rovina-2 span:nth-of-type(2) {
    background-color: #F64A69;
}

.rectangle-sec .rectangle-main .seatsafa span:nth-of-type(3),
.rectangle-sec .rectangle-main .rovina-2 span:nth-of-type(3) {
    background-color: #A635EC;
}

/*  */
.rectangle-sec .rectangle-main .rovina {
    background-color: #FBF7D3;
}

.rectangle-sec .rectangle-main .iphone {
    background-color: #FFBDBD;
}

.rectangle-sec .rectangle-main .rovina-2 {
    background-color: #C0ABFD;
}

/*  */

/*  */
.rectangle-sec .rectangle-main .lace {
    background-color: #FDF0AB;
}

.rectangle-sec .rectangle-main .lace span:nth-of-type(1) {
    background-color: #7CB93E;
}

.rectangle-sec .rectangle-main .lace span:nth-of-type(2) {
    background-color: #1CCD8D;
}

.rectangle-sec .rectangle-main .lace span:nth-of-type(3) {
    background-color: #F64A69;
}

.rectangle-sec .rectangle-main .lace span:nth-of-type(4) {
    background-color: #A635EC;
}

.rectangle-sec .rectangle-main .lace span:nth-of-type(5) {
    background-color: #F9A85D;
}



/* end-sectipn-rectangle============= */
/* start-sectipn-community============= */
.community-sec .community-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 24px;
}

.community-sec .community-main .community {
    background-color: #eff0f1;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dde0e573;
}

.community-sec .community-main .community .heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--Main-Middle-Black);
    margin-bottom: 12px;
}

.community-sec .community-main .community p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-paragraph);
}

/* end-sectipn-community============= */
/* start-sec-heading================= */
.sec-heading {
    margin-top: 24px;
    margin-bottom: 56px;
}

.sec-heading h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-text);
    margin-top: 45px;
}

.sec-heading span {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-subtext);
}

.sec-heading-2 {
    margin-top: 48px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-heading-2 h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-text);
}

.sec-heading-2 .view a {
    color: var(--Main-Third);
}

/* end-sec-heading================= */
/* --start-section-sellers============= */
.sellers-sec {
    position: relative;
}

.sellers-sec .sellers-main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    overflow-x: hidden;
}

.sellers-sec .sellers-main .sellers {
    text-align: center;
}

.sellers-sec .sellers-main .sellers img {
    border-radius: 8px;
    border: 9px solid var(--Main-White);
    box-shadow: 0px 0px 4px #d6d6d6;
    margin-bottom: 25px;
}

.sellers-sec .sellers-main .sellers p {
    font-size: 14px;
    color: var(--color-text-text);
    font-weight: 500;
}

/* --end-section-sellers============= */
/* -- start-sec-item-shop============== -- */
.sec-item-shop {
    position: relative;
}

.sec-item-shop .item-shop-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    overflow-x: hidden;
}

.sec-item-shop .item-shop-main .item-shop {
    position: relative;
    border: 1px solid #8080802e;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-height: 290px;
    background-color: var(--Main-White);
}

.sec-item-shop .item-shop-main .item-shop .icon-vector {
    top: 10px;
    right: 10px;
    border: 1px solid #8080802e;
    ;
}

.sec-item-shop .item-shop-main .item-shop .image {
    width: 184px;
    height: 184px;
    margin: 5px auto;
}

.sec-item-shop .item-shop-main .item-shop p {
    color: var(--color-text-text);
    font-weight: 500;
    font-size: 12px;
    margin: 10px;
}

.sec-item-shop .item-shop-main .item-shop span {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-text);
    position: absolute;
    bottom: 5px;
    left: 10px;
}

/* -- end-sec-item-shop============== -- */
/* start-advertisements-sec=========  */
/* .sec-advertisements {
    margin: 48px 0;
} */

.sec-advertisements .advertisements-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: center;
    gap: 10px 10px;
}

.sec-advertisements .advertisements-main .box {
    border-bottom: 1px solid var(--Base-Border);
    transition: 0.3s;
    min-width: 200px;
    color: var(--color-text-text);
    margin: 48px 0;
}
.sec-advertisements .advertisements-main .box:hover {
    margin-top: 24px;
    border-color: var(--Main-Third);
    color: var(--Main-Third);
}
.sec-advertisements .advertisements-main .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

/* end-advertisements-sec=========  */
/* -- start-emial-sec=====================  */
.sec-email {
    margin: 48px 0 0 0;
}

.sec-email .email-main {
    background-color: #5959D9;
    padding: 74px 112px;
}

.sec-email .email-main .content {
    margin-bottom: 48px;
    width: 52%;
}

.sec-email .email-main p {
    color: var(--Main-White);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.sec-email .email-main .heading {
    margin-bottom: 10px;
}

.sec-email .email-main .form {
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-email .email-main .form form:nth-of-type(1) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--Main-White);
    padding: 10px 10px 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.sec-email .email-main .form form:nth-of-type(1) input {
    outline: none;
    border: none;
    border-radius: 100px;
    width: 65%;
}

.sec-email .email-main .form form:nth-of-type(1) input::placeholder {
    color: var(--color-text-subtext);
}

.sec-email .email-main .form form:nth-of-type(1) .btn {
    background-color: var(--Main-Primary);
    color: var(--Main-White);
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 100px;
    cursor: pointer;
}

.sec-email .email-main .form form:nth-of-type(2) {
    width: 100%;
}

.sec-email .email-main .form form:nth-of-type(2) .btn-small-mobile {
    background-color: var(--Main-Primary);
    color: var(--Main-White);
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 100px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.sec-email .email-main .form a {
    text-decoration: underline;
    color: var(--Main-Light);
}

.sec-email .email-main .form form:nth-of-type(2) .btn-small-mobile {
    display: none;
    visibility: hidden;
}

/* -- end-emial-sec=====================  */
/* start-sec-electricity======================== */
.electricity-sec .electricity-main {
    text-align: center;
    padding: 20px;
    background-color: var(--Base-Gray-Background);
}

.electricity-sec .electricity-main p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Main-Thick-Black);
}

/* end-sec-electricity======================== */
/* -- start-sec-footer============= -- */
/* .sec-footer{
  padding: 57px 0 40px;
} */
.sec-footer .footer-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* .column-1 */
.sec-footer .footer-main .column-1 {
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec-footer .footer-main .column-1 p {
    font-size: 14px;
    color: var(--color-text-text);
    font-weight: 500;
}

.sec-footer .footer-main .column p {
    margin: 40px 0 24px;
    color: var(--color-text-text);
    font-weight: 500;
    font-size: 16px;
}

.sec-footer .footer-main .column ul li {
    margin: 12px 0;
    font-size: 14px;
    color: var(--color-text-paragraph);
    font-weight: 400;
    cursor: pointer;
}

/* footer-inc */
.sec-footer .footer-inc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 40px 0;
    color: var(--color-text-text);
    font-size: 14px;
}

.sec-footer .footer-inc .inc {
    grid-column: 1 / 5;
}

.sec-footer .footer-inc .cookis {
    grid-column: 5 / 11;
}

.sec-footer .footer-inc .cookis span {
    display: inline-block;
    margin: 0 15px;
}

.sec-footer .footer-inc .cookis span:nth-of-type(2) {
    color: var(--Main-Third);
}

.sec-footer .footer-inc .scroll-top {
    grid-column: 11 / 13;
}

.sec-footer .footer-inc .scroll-top span {
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

/* -- end-sec-footer============= -- */
/* start-sec-footer-small-mobile */
.sec-footer-small-mobile {
    display: none;
    visibility: hidden;
}

.sec-footer-small-mobile .dropdown {
    position: relative;
    margin: 10px 0;
}

.sec-footer-small-mobile .dropdown .btn-dropdown {
    width: 100%;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid var(--Base-Border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--color-text-text);
    font-size: 14px;
    font-weight: 500;
}
.sec-footer-small-mobile .dropdown .btn-dropdown.change-color{
    background-color: var(--Main-Primary);
    color: white;
}

.sec-footer-small-mobile .dropdown ul {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
}
.sec-footer-small-mobile .dropdown ul.active {
    height: 100%; 
}

.sec-footer-small-mobile .dropdown ul li {
    border-bottom: 1px solid var(--Base-Border);
    padding: 20px;
}
.sec-footer-small-mobile .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.sec-footer-small-mobile .inc{
    text-align: center;
    margin: 20px 0;
}


/* end-sec-footer-small-mobile */